.header-hero {
  margin: 0 0 8px 0;
  padding: 10rem 0 7rem 0;
  text-align: center;
  background-image: url(./images/bg-pattern-intro-desktop.svg), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-position: right 76% bottom 50%;
  /* background-size: cover; */
  border-radius: 0 0 0 5rem;
  color: hsl(0, 0%, 100%);
}

.header-hero h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.header-hero p {
  margin: 1rem 0 0.5rem 0;
}

.header-hero .hero-btn {
  margin: 0;
  padding: 3rem 0 1rem 0;
}

.header-hero .hero-btn a {
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
  padding: 10px 30px;
  margin: 0 8px;
  border-radius: 1.3rem;
  text-decoration: none;
  font-weight: 600;
}

.header-hero .hero-btn a.learn {
  color: hsl(0, 0%, 100%);
  border: 2px solid white;
  background-color: hsl(356, 100%, 66%);
}

.header-hero .hero-btn a:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(356, 100%, 66%);
}

.header-hero .hero-btn a.learn:hover {
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
}

.design {
  width: 100%;
}

.design h2 {
  margin-top: 8rem;
  text-align: center;
  font-size: 2rem;
  color: hsl(208, 49%, 24%);
}

.design p {
  color: hsl(207, 13%, 34%);
}

.design-hero {
  padding: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.design-hero .design-wordings {
  width: 25rem;
  /* text-align: left; */
}

.design-hero .design-img {
  width: 43rem;
  margin: 0 -6rem;
}

.design-hero .design-img img {
  width: 100%;
  height: 100%;
}

.state-art {
  width: 100%;
}

.state-art .state-hero {
  height: 60vh;
  padding: 0 6rem 3rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(237, 17%, 21%);
  background-image: url("./images/bg-pattern-circles.svg"), linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position: left -70% bottom 20%;
  border-radius: 0 5rem 0 5rem;
  color: hsl(0, 0%, 100%);
}

.state-art .state-img {
  margin: -2rem 0;
}

.state-art .state-img img {
  width: 100%;
  height: 100%;
  margin: -21rem 0;
}

.state-art .state-wordings {
  width: 500px;
}

.state-art .state-wordings h3 {
  font-size: 2rem;
}

.state-art .state-wordings p {
  color: hsl(240, 2%, 79%);
}

.free-open {
  width: 100%;
  margin: 6rem 0;
}

.freeopen-hero {
  padding: 0 6rem 3rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.freeopen-hero .freeopen-wordings {
  width: 25rem;
  /* text-align: left; */
}

.freeopen-hero .freeopen-wordings h3 {
  /* font-size: 2rem; */
  color: hsl(208, 49%, 24%);
}

.freeopen-hero .freeopen-img {
  width: 43rem;
  margin: 0 -6rem;
}

.freeopen-hero .freeopen-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 48rem) {
  /* .design {
    text-align: center;
  } */
  .design-hero {
    flex-direction: column;
    text-align: center;
  }

  .design-hero .design-img {
    width: auto;
    height: auto;
  }
}
